name: Build iOS SDK

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'

    - name: Print Go Env
      run: go env

    - name: Install gomobile
      run: |
        go install golang.org/x/mobile/cmd/gomobile@latest
        gomobile init

    - name: Build XCFramework
      run: |
        gomobile bind -target=ios -iosversion=15.0 -v -x -o YingkaSDK.xcframework .

    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: YingkaSDK.xcframework
        path: YingkaSDK.xcframework
